@model UpdateMenuTableViewModel

@{
    ViewData["Title"] = "UpdateMenuTable";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Masa İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Masa Güncelleme Sayfası</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="Id"/>
                            <div class="form-group">
                                <label for="menutablename">Masa Adı</label>
                                <input type="text" class="form-control" asp-for="Name" id="menutablename">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="menutablestatus">Masa Durumu</label>
                                <select class="form-control nice-select wide" asp-for="Status">
                                    <option value="true">
                                        Dolu
                                    </option>
                                    <option value="false">
                                        Boş
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary btn-round">Masayı Güncelle</button>
                            <a href="/MenuTables/Index/" class="btn btn-danger btn-round">Değişikliklerden Vazgeç</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


